/* Глобальные стили */
body {
    @apply bg-background-light text-text-light;
    /* для светлой темы */
    transition: background-color 0.5s ease, color 0.5s ease;
    height: 100%;
    /* Плавное переключение */
}

body.dark {
    @apply bg-background-dark text-text-dark;
    /* для темной темы */
}

button {
    list-style: none;
    text-decoration: none;
}

button:hover {
    list-style: none;
    text-decoration: none;
}